target/
*.class
*.jar
*.war
*.log

# Maven
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.project
.classpath
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln

# Secrets
application-prod.properties
application-local.properties
